:root {
    /* pallet */
    --clr3: #f0f0f0;
    --clr2: #93d7c8;
    --clr1: #626262;
    --clr-2: #000;
    --clr-3: #323234;
    --clr-4: #0e9bae;

    /* BP */
    --l: 1300px;
    --m: 1000px;
    --s: 600px;
}

*{
    box-sizing: border-box;
}

/* TYPOGRAPHY */


/* BASICS  */
html {
    color: var(--clr1);
    font-family: playfair, serif;
    line-height: 1.71428;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    line-height: 1.3;
}

h2 {
    font-size: 1.714285714em;
}

body {
    margin: 0;
    font-size: 0.875rem;
    background-color: var(--clr-3);
    color: aqua;
}

input{
    background-color: var(--clr-2);
}

button{
    cursor: pointer;
    background-color: var(--clr3);
}

img{
    width:100%;
    height: 100%;
}

.saved-meme{
    cursor: pointer;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around{
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.column{
    flex-direction: column;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* grid helpers */

.grid{
    display: grid;
}

/* LAYOUT */

header{
    background-color: var(--clr-4);
    background-image: linear-gradient(90deg,rgb(15, 170, 191),60%,rgb(16, 148, 73),60%);
    font-size: large;
}

header a{
    color: var(--clr3);
}

header a:hover{
    background-color: var(--clr3);
    color: var(--clr-4);
}

.toggle::before{
    content: 'Editor'
}

body.editor-open .toggle::before{
    content: 'Gallery';
}

.btn-menu{
    color: var(--clr3);
    background-color: inherit;
    border-color: var(--clr-4)/var(--clr-4);
}

.gallery-search{
    background-color: var(--clr1);
}

.meme-editor{
    background-color:var(--clr1);
    border-radius: 25px;
}

.btn-menu::before{
    content: '☰';
}

.btn-menu:hover{
    background-color:var(--clr3);
    color: var(--clr-4);
}

.txt-change{
    color: var(--clr3);
}

.search>*{
    color: var(--clr3);
}

.search{
    background-color: #000;
}


/* COMPONENTS */
/* header */

header{
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 10px;
}

.logo img{
    width: 100px;
}

.a-header{
    margin-right: 100px;
}

header a{
    margin: 10px;
    padding: 10px;
}

header a:hover{
    cursor: pointer;
    border-radius: 25px;
}

.btn-menu{
    margin-right: 5%;
    height: 4rem;
    width: 4rem;
    font-size:x-large;
}

/* gallery */

.gallery-search{
    border-radius: 25px;
}

.search{
    width: 50%;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

.search-bar{
    border: none;
    cursor:text;
}

.search-words{
    width: 20%;
    height: 20px;
    margin-left: 5%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.btn-search::before{
    content: 'more';
}

.gallery-search.open .switch{
    flex-direction: column;
}

.gallery-search.open .search-words{
    width: 100%;
    height: 50px;
    margin-left: 0;
    justify-content: flex-start;
}

.gallery-container{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 10px;
    row-gap: 30px;
    margin: 10px;
}

.imgs{
    aspect-ratio: 4/3;
    transition: all .2s ease-in-out;
}

.imgs:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(85%);
}

body.editor-open .gallery-container,
body.editor-open .gallery-search,
body.saved-open .gallery-container,
body.saved-open .gallery-search{
    display: none;
}

/* meme-editor */

body.editor-open .editor-container{
    display:flex;
}

.editor-container{
    flex-direction: row;
    margin: 10px;
    display:none;
}

.edit{
    width: 55px;
    height:55px;
    border-radius: 5px;
    border-color: var(--clr3);
    font-weight:bolder;
}

.emoji{
    width: 450px;
    height: 90px;
    border: 1px white solid;
    border-radius: 50px;
    background-color: var(--clr3);
    align-items: center;
    justify-content: space-between;
}

.txt-change{
    width: 450px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
}

.add-emoji{
    cursor: pointer;
    font-size: 40px;
    width: 65px;
    height: 65px;
    text-align: center;
}

.fonts{
    width: 240px;
    height: 55px;
    border-radius: 50px;
}

.color-change{
    position: relative;
    background-color:white;
    font-size:xx-large;
    text-align: center;
}

.colors{
    opacity:0;
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    cursor: pointer; 
}

body.menu-open .color-change{
    position:fixed;
}

.paragraph-edit{
    border: 1px solid var(--clr-4);
    background-color: var(--clr-4);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

body.saved-open .editor-container{
    display: none;
}

/* saved */

.saved-container{
    display: none;
}

body.saved-open .saved-container{
    display: grid;
}

@media (max-width:1000px) {
    .main-nav {
        position: fixed;
        background-color: var(--clr-4);
        height: 100vh;
        border-inline-start: 1px solid #ccc;
        inset: 95px 0 0 auto;
        min-width: 200px;
        transform: translateX(100%);
        overflow-y: scroll;

    }
    
    body.menu-open .main-nav {
        transform: translateX(10%);
        border-radius: 25px ;
        /* box-shadow: -9px 0px 14px rgb(0 0 0 / 100%); */
        transition: transform .6s, box-shadow .6s;
    }

    .main-nav ul {
        flex-direction: column;
    }

    .main-nav ul li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav ul a {
        display: block;
        padding: 14px;
    }

    body.menu-open .btn-menu::before{
        content: 'X';
    }

    .btn-menu{
        display: block;
    }

    body.menu-open{
        overflow-y: hidden;
    }

    .gallery-container{
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        grid-auto-rows: 175px;
    }

    .gallery-search{
        margin: 20px;
        padding: 70px;
    }

    .imgs{
        aspect-ratio: 1.5/1;
    }

    .editor-container>*{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .editor-container{
        flex-direction: row;
    }

    .meme-canvas{
        width: 400;
        height: 400;
    }

    .meme-editor{
        align-items: center;
    }

    .emoji ,.txt-change{
        width: 300px;
        height: 50px;
    }

    .add-emoji{
        font-size: 25px;
        width: 40px;
        height: 40px;
    }

    .paragraph-edit{
        width: 300px;
        height: 150px;
    }

    .edit{
        font-size: x-large;
    }
    .search-bar{
        width: 90%;
    }
}

@media (max-width: 420px) {
    .grid-container {
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        grid-template-columns: 1fr;
    }

    .gallery-container{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-auto-rows: 140px;
    }

    .gallery-search{
        margin: 15px;
        padding: 20px;
    }

    .imgs{
        aspect-ratio: 1/1;
    }

    .emoji , .txt-change{
        width: 250px;
        height: 50px;
    }

    .add-emoji{
        font-size: 15px;
        width: 25px;
        height: 25px;
    }

    .edit{
        width: 50px;
        height:50px;
        font-size: large;
    }

    .fonts{
        width: 200px;
        height: 50px;
    }

    .editor-container{
        height: 90vh;
    }

    .paragraph-edit{
        width: 270px;
        height: 130px;
    }

    .search-bar{
        width: 80%;
    }

}

@media (max-width:600px){
    .editor-container{
        flex-direction: column;
    }

    .meme-editor{
        margin-top: 5%;
        width: 60%
    }
}

@media (max-width:730px){
    .meme-canvas{
        width: 300;
        height: 300;
    }
}

@media (min-width:1000px){

    .main-header .main-nav a {
        min-width: 8rem;
    }

    .btn-menu{
        display: none;
    }

    .main-modal{
        height: 60%;
        width: 80%;
        inset: 20% 10% 20% 10%;
    }

    .main-nav{
        margin-right: 10%;
    }

    .editor-container{
        margin-top: 5%;
    }

    .editor{
        width: 500px;
    }

    .paragraph-edit{
        width: 510px;
        height: 150px;
    }

    .gallery-container{
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-auto-rows: 230px;
        
    }

    .gallery-search{
        margin: 25px;
        padding: 75px;
    }

    .search-bar{
        width: 95%;
    }

}

@media (min-width:2000px){

    .main-nav{
        margin-right: 20%;
    }

    li{
        margin-left: 20%;
        margin-right: 20%;
    }

    .editor-container{
        margin-top: 5%;
    }

    .meme-canvas{
        height: 800px;
        width: 800px;
    }

    .editor{
        width: 800px;
        padding: 70px;
    }

    .edit{
        width: 70px;
        height: 70px;
        font-size: 30px;
    }

    .paragraph-edit{
        width: 750px;
        height: 300px;
    }

    .gallery-container{
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-auto-rows: 230px;
        
    }

    .gallery-search{
        margin: 100px;
        padding: 75px;
    }

    .search-bar{
        width: 95%;
        height: 100px;
        border-radius: 50px;
        font-size: 30px;
    }
}


